libEncrypt.dll
*.obj
*.user
*.manifest
*.res
*.htm
*.pch
*.idb
*.dep
*.exe
*.rsp
*.exp
*.ilk
*.ncb
*.suo
common/lib/*
debug_symbols/*
import/libEncrypt/*.lib
installation/*.dll
installation/*/*/*.dll
modules/*/*/*/*.pdb
output/export/bin/*.dll
output/export/lib/*.lib
Debug/
x64/
.vs/
modules/BOT-Server/x64/Release/libEncrypt.dll
modules/BOT-Server/x64/Release/*.lib
modules/BOT-Server/BOT-Server-Lite.ncb
modules/BOT-Server/BOT-Server-Lite.suo
asdasdasdas