*.obj
*.user
*.manifest
*.res
*.htm
*.pch
*.idb
*.dep
*.exe
*.rsp
*.exp
*.ilk
*.ncb
*.suo
common/lib/*
debug_symbol/*
Debug/
x64/
zlog/.vs/*
zlog/.vs/zlog/*
zlog/zlog/x64/Release/*.log
zlog/bin/x64/zlog.dll
Release/bin/x64/zlog.dll